<table class="get-data-table">
  <tr>
    <td>
      Term:
    </td>
    <td>
      Explanation:
    </td>
  </tr>
  {{#each terms}}
  <tr>
    <td>
      {{name}}
    </td>
    <td>
      {{link}}
    </td>
  </tr>
  {{/each}}
</table>



<form action="http://localhost:3000/" method="get">
    <button>Home</button>
</form>
